.game {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
    margin-bottom: 20px;
    gap: 8px;
}

#game-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}